 /* Common  */ 

@-webkit-keyframes fadeIn 
{
    from { opacity: 0; }
      to { opacity: 1; }
}  
@keyframes fadeIn 
{
    from { opacity: 0; }
      to { opacity: 1; }
}

@-webkit-keyframes fadeOut 
{
    from { opacity: 1; }
      to { opacity: 0; }
}  
@keyframes fadeOut
{
    from { opacity: 1; }
      to { opacity: 0; }
}

html, body
{
    background-image: url("../imgs/Wiki-background.png");
    background-repeat: repeat;
    background-color: #ffdebc;
    height:100%;
}

#wrap 
{
    min-height: 100%;
}

#main 
{
    overflow:auto;
    padding-bottom:150px; /* this needs to be bigger than footer height*/
}

footer 
{
    position: relative;
    margin-top: -100px; /* negative value of footer height */
    height: 100px;
    overflow: hidden;
    clear:both;
    background:#555;
    color: #f1f1f1;
    padding:1%
} 

.footerbox_social
{
    float:right;
}

/* .statname
{
    text-align: right;
} */

.footerbox_siteinfo
{
    float:left;
}

label
{
    text-align: right;
}

.row
{
    width: 100% !important;
    margin: 0px !important;
}

.banner
{
    width: 75%;
    max-width: 600px;
    margin: 15px;
    margin-top: 50px !important;
}

.chara_icon
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 90px;
    height: auto;
}

.box
{
    background-color: white;
    border-radius: 25px;
    padding: 20px; 
    width: 75%;
}

/* Player Info */

.avatar_big
{
    max-width: 184px;
    max-height: 184px;
    width: 100%;
    border-radius: 30%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Header */

.header 
{
    padding: 10px 16px;
    max-height: 58.5px;
    background: #555 !important;
    color: #f1f1f1;
}

.avatar
{
    border-radius: 5 !important;
    width: 32px;
    height: 32px;
}

.content 
{
    padding: 16px;
}

.sticky 
{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
}

.sticky + .content 
{
    padding-top: 102px;
} 

/* Mobile Menu */

nav 
{
	float: left;
}

#menu-icon 
{
	display: hidden;
	width: 40px;
	height: 40px;
    background: url(../imgs/menu_icon.png) center;
    background-size: 100%;
    -moz-transition: transform 1s;
    -webkit-transition: transform 1s;
    transition: transform 1s;
}

.flip 
{
    transform: rotate(-360deg);
}

#mobile_menu 
{ 
    position: absolute;
    padding: 20px;
    background: #555;
    top: 60px;
    width: 90%;
    border-radius: 4px 0 4px 4px;
    margin: auto;
}

@media only screen and (max-width : 639px) 
{
    html, body
    {
        background-image: unset;
        background-color: white;
    }

    table
    {
        border-width: 0px !important;
    }


    #main 
    {
        overflow:auto;
        padding-bottom:200px; /* this needs to be bigger than footer height*/
    }

    footer 
    {
        font-size: 10px;
        margin-top: -180px; /* negative value of footer height */
        height: 180px;
    } 

    .footerbox_social
    {
        float: unset;
        text-align: center;
    }

    .banner
    {
        width: 90%;
        margin: 0px;
        margin-top: 34px !important;
    }

    .table-sm td, .table-sm th
    {
        padding: 0px;
    }

    .col-xs-12, .col-lg-12
    {
        padding-left: 0px;
        padding-right: 0px;
    }

    #menu-icon 
    {
		display: inline-block;
	}

    .hide_on_mobile
    {
        display: none;
    }

    .box
    {
        padding: unset;
        width: unset;
        border-radius: 0px;
    }

    .banner
    {
        width: 100%;
    }

    #select_tab
    {
        display: block;
    }
}
  
/* hack
si alguien me dice como hacerlo mejor bienvenido sea */
@media only screen and (min-width : 640px) 
{
    /* .tabtable_header
    {
        border-top: none !important;
    } */

    #select_tab
    {
        display: none;
    }

    #table_summary_mobile
    {
        display: none;
    }
}

/* Font Awesome */

.fab
{
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fab:hover 
{
    filter: brightness(125%);
    text-decoration: none;
    color: unset;
}

/* Facebook */
.fa-discord 
{
    background: #7289DA;
    color: white;
}

/* GitLab */
.fa-gitlab 
{
    background: #FC6D26;
    color: white;
}